<head>
    <title>TITLE</title>
    <link rel="app/views/public/stylesheets" href="stylesheets/results.css">
</head>


<link href='https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,100,300,600,700' rel='stylesheets' type='text/css'>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheets">

<div class="information message">
  <h2>SO Delicious </h2>
	<p>Purchase In-Store & <a href= "http://sodeliciousdairyfree.com/product_groups/dairy-free-desserts">Online</a></p>
</div>
<div class="information message">
  <h2>Luna & Larry&#39;s Coconut Bliss</h2>
	<p>Purchase In-Store & <a href= "https://coconutbliss.com">Online</a></p>
</div>
<div class="information message">
  <h2>Dream</h2>
	<p>Purchase <a href= "http://www.dreamplantbased.com/product-category/frozen/">In-Store</a></p>
</div>
<div class="information message">
  <h2>Steve&#39;s Ice Cream</h2>
	<p>Purchase <a href= "http://stevesicecream.com/dairy-free-ice-cream.html">In-Store</a></p>
</div>
<div class="information message">
  <h2>Ben & Jerry&#39;s</h2>
	<p>Purchase In-Store & <a href= "https://www.benjerry.com/flavors/non-dairy">Online</a></p>
</div>
<div class="information message">
  <h2>Haagen Dazs</h2>
	<p>Purchase In-Store & <a href= "https://www.haagendazs.us/products/non-dairy/">Online</a></p>
</div>
<div class="information message">
  <h2>Halo Top</h2>
	<p>Purchase <a href= "https://www.halotop.com/dairy-free-flavors/">In-Store</a></p>
</div>
<div class="information message">
  <h2>Talenti Sorbetto</h2>
	<p>Purchase <a href= "https://www.talentigelato.com/product-category/vegan-gelato">In-Store</a></p>
</div>
<div class="information message">
  <h2>NadaMoo!</h2>
	<p>Purchase <a href= "https://nadamoo.com">In-Store</a></p>
</div>
<div class="information message">
  <h2>NanaCreme</h2>
	<p>Purchase <a href= "https://nanacreme.com">In-Store</a></p>
</div>
<div class="information message">
  <h2>Wink Frozen Desserts</h2>
	<p>Purchase In-Store & <a href= "https://winkfrozendesserts.com/collections/wink-frozen-desserts-pints">Online</a></p>
</div>
<div class="information message">
  <h2>A La Mode</h2>
	<p>Purchase <a href= "https://alamodeshoppenyc.com">In-Store</a></p>
</div>
<div class="information message">
  <h2>Breyers</h2>
	<p>Purchase <a href= "https://www.breyers.com/us/en">In-Store</a></p>
</div>

<div class="information message">
  <h2>Cashewtopia</h2>
	<p>Purchase <a href= "http://www.organicnectars.com/products.html">Online</a></p>
</div>
<div class="information message">
  <h2>DF Mavens</h2>
	<p>Purchase <a href= "http://dfmavens.com/products/">Online</a></p>
</div>
<div class="information message">
  <h2>Arctic Zero</h2>
	<p>Purchase In-Store & <a href= "https://www.arcticzero.com/products">Online</a></p>
</div>
<div class="information message">
  <h2>Graeters</h2>
	<p>Purchase In-Store & <a href= "https://www.graeters.com">Online</a></p>
</div>
